/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "rk3328.dtsi"
#include <dt-bindings/input/input.h>
#include "rk3328-dram-box-plus-timing.dtsi"

/ {
	model = "Firefly ROC-RK3328-PC";
	compatible = "firefly,roc-rk3328-pc", "rockchip,rk3328";

	chosen {
		bootargs = "earlycon=uart8250-32bit,0xff110000 swiotlb=1 kpti=0 coherent_pool=1m no_console_suspend=1 usbcore.autosuspend=-1";
		stdout-path = "serial0:1500000n8";
	};

	xin32k: xin32k {
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
		#clock-cells = <0>;
	};

	gmac_clkin: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "gmac_clkin";
		#clock-cells = <0>;
	};

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_sd: sdmmc-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc0m1_gpio>;
		regulator-name = "vcc_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vcc_sdio: sdmmcio-regulator {
		compatible = "regulator-gpio";
		gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdio_per_pin>;
		states = <1800000 0x1>,
			 <3300000 0x0>;
		regulator-name = "vcc_sdio";
		regulator-type = "voltage";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		vin-supply = <&vcc_sys>;
		status="okay";
	};

	vcc_host_5v: vcc-host-5v-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_host_drv>;
		regulator-name = "vcc_host_5v";
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_sys>;
	};

	leds {
		compatible = "gpio-leds";

		power {
			label = "firefly:blue";
			gpios = <&rk805 0 GPIO_ACTIVE_LOW>;
			default-state = "on";
			mode = <0x05>;
		};

		disk {
			label = "firefly:red";
			linux,default-trigger = "disk-activity";
			gpios = <&rk805 1 GPIO_ACTIVE_LOW>;
			default-state = "on";
			mode = <0x23>;
		};
	};

	hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "HDMI";
		simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};
		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};

	headphone-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "ANALOG";
		simple-audio-card,cpu {
			sound-dai = <&i2s1>;
		};
		simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;
		reset-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "rtl8723ds";
		WIFI,host_wake_irq = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	// MRFIXIT: This can be removed when the uart2 serdev is working right
	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		BT,reset_gpio = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq  = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&codec {
	#sound-dai-cells = <0>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu1 {
	cpu-supply = <&vdd_arm>;
};

&cpu2 {
	cpu-supply = <&vdd_arm>;
};

&cpu3 {
	cpu-supply = <&vdd_arm>;
};

&dfi {
	status = "okay";
};

&dmc {
	status = "okay";
	center-supply = <&vdd_logic>;
   	system-status-freq = <
		/*system status         freq(KHz)*/
		SYS_STATUS_NORMAL       786000
		SYS_STATUS_REBOOT       786000
		SYS_STATUS_SUSPEND      786000
		SYS_STATUS_VIDEO_1080P  786000
		SYS_STATUS_VIDEO_4K     786000
		SYS_STATUS_VIDEO_4K_10B 786000
		SYS_STATUS_PERFORMANCE  786000
		SYS_STATUS_BOOST        786000
	>;
};

&dmc_opp_table {
	opp-800000000 {
		status = "disabled";
	};
	opp-850000000 {
		status = "disabled";
	};
	opp-933000000 {
		status = "disabled";
	};
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-ddr-1_8v;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
	supports-emmc;
	disable-wp;
	max-frequency = <150000000>;
	num-slots = <1>;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vcc18_emmc>;
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&route_tve {
	status = "okay";
};

&hdmi {
	status = "okay";
	#sound-dai-cells = <0>;
	ddc-i2c-scl-high-time-ns = <9625>;
	ddc-i2c-scl-low-time-ns = <10000>;
};

&hdmiphy {
	status = "okay";
};

&tve {
	status = "okay";
	rockchip,tvemode = <1>;
};

&h265e {
	status = "okay";
};

&h265e_mmu {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&venc_srv {
	status = "okay";
};

&rkvdec {
	vcodec-supply = <&vdd_logic>;
	status = "okay";
};

&vepu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vpu_service {
	status = "okay";
};

&rga {
	status = "okay";
};

&gpu {
	status = "okay";
	mali-supply = <&vdd_logic>;
};

&gmac2io {
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	clock_in_out = "input";
	snps,reset-gpio = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,force_thresh_dma_mode;
	snps,reset-delays-us = <0 10000 50000>;
	assigned-clocks = <&cru SCLK_MAC2IO>, <&cru SCLK_MAC2IO_EXT>;
	assigned-clock-parents = <&gmac_clkin>, <&gmac_clkin>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmiim1_pins>;
	tx_delay = <0x28>;
	rx_delay = <0x16>;
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	rk805: rk805@18 {
		compatible = "rockchip,rk805";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA2 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
		reg = <0x18>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		rockchip,system-power-controller;
		wakeup-source;
		gpio-controller;
		#gpio-cells = <2>;
		#clock-cells = <1>;
		clock-output-names = "rk805-clkout1", "rk805-clkout2";

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_io>;
		vcc6-supply = <&vcc_sys>;

		rtc {
			status = "okay";
		};

		pwrkey {
			status = "okay";
		};

		gpio {
			status = "okay";
		};

		regulators {
			compatible = "rk805-regulator";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			vdd_logic: RK805_DCDC1@0 {
				regulator-compatible = "RK805_DCDC1";
				regulator-name = "vdd_logic";
				regulator-min-microvolt = <712500>;
				regulator-max-microvolt = <1450000>;
				regulator-initial-mode = <0x1>;
				regulator-ramp-delay = <12500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-mode = <0x2>;
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vdd_arm: RK805_DCDC2@1 {
				regulator-compatible = "RK805_DCDC2";
				regulator-name = "vdd_arm";
				regulator-init-microvolt = <1225000>;
				regulator-min-microvolt = <712500>;
				regulator-max-microvolt = <1450000>;
				regulator-initial-mode = <0x1>;
				regulator-ramp-delay = <12500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-mode = <0x2>;
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vcc_ddr: RK805_DCDC3@2 {
				regulator-compatible = "RK805_DCDC3";
				regulator-name = "vcc_ddr";
				regulator-initial-mode = <0x1>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-mode = <0x2>;
					regulator-on-in-suspend;
				};
			};

			vcc_io: RK805_DCDC4@3 {
				regulator-compatible = "RK805_DCDC4";
				regulator-name = "vcc_io";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-mode = <0x1>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-mode = <0x2>;
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_18: RK805_LDO1@4 {
				regulator-compatible = "RK805_LDO1";
				regulator-name = "vcc_18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc18_emmc: RK805_LDO2@5 {
				regulator-compatible = "RK805_LDO2";
				regulator-name = "vcc18_emmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_10: RK805_LDO3@6 {
				regulator-compatible = "RK805_LDO3";
				regulator-name = "vdd_10";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};
		};
	};
};

&i2s0 {
	#sound-dai-cells = <0>;
	rockchip,bclk-fs = <128>;
	status = "okay";
};

&i2s1 {
	#sound-dai-cells = <0>;
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&io_domains {
	status = "okay";

	vccio1-supply = <&vcc_io>;
	vccio2-supply = <&vcc18_emmc>;
	vccio3-supply = <&vcc_io>;
	vccio4-supply = <&vcc_18>;
	vccio5-supply = <&vcc_io>;
	vccio6-supply = <&vcc_io>;
	pmuio-supply = <&vcc_io>;
};

&rockchip_suspend {
	status = "okay";
	rockchip,virtual-poweroff = <1>;
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_dectn &sdmmc0_bus4>;
	supports-sd;
	status = "okay";
	vmmc-supply = <&vcc_sd>;
};

&sdmmc_ext {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	sd-uhs-sdr104;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	max-frequency = <100000000>;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0ext_bus4 &sdmmc0ext_cmd &sdmmc0ext_clk>;
	supports-sdio;
	vmmc-supply = <&vcc_sdio>;
	status = "okay";
};

&threshold {
	temperature = <80000>;
};

&target {
	temperature = <90000>;
};

&soc_crit {
	temperature = <95000>;
};

&tsadc {
	rockchip,hw-tshut-mode = <0>;
	rockchip,hw-tshut-polarity = <0>;
	rockchip,hw-tshut-temp = <110000>;
	status = "okay";
};

/*
 * NOTE: Enabling uart0 kills eth0 and enabling uart1 kills wlan0.
 *  Enabling uart2 conflicts with debug output and causes instability.
 *  Hack time: point debug output to uart0.  and use uart0 without pins so std-out isn't on the monitor
 *  This will likely mean debug output can't work. Oh well.
 */
&uart0 {
	status = "okay";
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&uart2 {
	status = "okay";
/*

MRFIXIT NOTE: 
This uart bluetooth binding should work now, but there's a timeout for the kernel loading the firmware. 
Will revisit later.

	/delete-property/ dmas;
	/delete-property/ dma-names;

	wireless_bluetooth: wireless-bluetooth {
		compatible = "realtek,rtl8723ds-bt";
		//clocks = <&cru SCLK_RTC32K>;
		//clock-names = "ext_clock";
		enable-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
		device-wake-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		oper-speed = <115200>;
		flow-control = <0>;
		status = "okay";
	};
*/
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc_host_5v>;
	status = "okay";
};

&u2phy_otg {
	phy-supply = <&vcc_host_5v>;
	status = "okay";
};

&u3phy {
	status = "okay";
};

&u3phy_utmi {
	phy-supply = <&vcc_host_5v>;
	status = "okay";
};

&u3phy_pipe {
	phy-supply = <&vcc_host_5v>;
	status = "okay";
};

&usb20_otg {
	dr_mode = "host";
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd3 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
};

&pwm3 {
	status = "okay";
	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";
	pinctrl-0 = <&pwmir_pin>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <1>;

	ir_key1 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
                         <0xba   KEY_BACK>,
                         <0xf4   KEY_UP>,
                         <0xf1   KEY_DOWN>,
                         <0xef   KEY_LEFT>,
                         <0xee   KEY_RIGHT>,
                         <0xe5   KEY_HOME>,
                         <0xe7   KEY_VOLUMEUP>,
                         <0xe8   KEY_VOLUMEDOWN>,
                         <0xb2   KEY_POWER>,
                         <0xf5   KEY_MUTE>,
                         <0xe2   KEY_MENU>,
                         <0xf3   KEY_BACKSPACE>,
                         <0xf2   KEY_ENTER>,
                         <0xff   KEY_0>,
                         <0xfe   KEY_1>,
                         <0xfd   KEY_2>,
                         <0xfc   KEY_3>,
                         <0xfb   KEY_4>,
                         <0xfa   KEY_5>,
                         <0xf9   KEY_6>,
                         <0xf8   KEY_7>,
                         <0xf7   KEY_8>,
                         <0xf6   KEY_9>,
                         <0xb8   388>,
                         <0xe0   KEY_SEARCH>;
	};

	ir_key2 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_PLAYPAUSE>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xe8	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xa4	KEY_SETUP>,
			<0xbe	KEY_SEARCH>;
	};

	ir_key3 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&clk_32k_out>;

	clk_32k {
		clk_32k_out: clk-32k-out {
			rockchip,pins = <1 RK_PD4 RK_FUNC_1 &pcfg_pull_none>;
		};
	};

	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdio {
		sdio_per_pin: sdio-per-pin {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_enable_h: wifi-enable-h {
			// WIFI_REG_ON_H, WIFI_HOST_WAKE_L, BT_POWER, BT_WAKE
			rockchip,pins =	<3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none_4ma>,
				<3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none_4ma>,
				<1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>,
				<1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		usb_host_drv: usb-host-drv {
			rockchip,pins =	<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
